extends layout

block content
  // Wrapper
  #wrapper
    // USER LIST
    h2 Entry List
    #userList
        input.search(placeholder="Search")
        table
            thead
                th
                  button.sort(data-sort="team") Team
                th
                  button.sort(data-sort="match") Match
                th
                  button.sort(data-sort="A")= niceNames[0]
                th
                  button.sort(data-sort="B")= niceNames[1]
                th
                  button.sort(data-sort="C")= niceNames[2]
                th
                  button.sort(data-sort="D")= niceNames[3]
                th
                  button.sort(data-sort="comment") Comment
            tbody.list
              each entry, i in entrylist
                tr
                  td.id(style="display:none;")= entry.id
                  td.teamid(style="display:none;")= entry.links.owner
                  td.team ###
                  td.matchid(style="display:none;")= entry.links.from
                  td.match ###
                  td.A= entry.A
                  td.B= entry.B
                  td.C= entry.C
                  td.D= entry.D
                  td.comment= entry.comment
  script(src="/javascripts/list.min.js")
  script(src="/javascripts/entries.js")
