extends layout

block content
  // Wrapper
  #wrapper
    img(src="/images/#{team.teamNo}.png")#teamPic
    h2 Team Info
    table#teaminfo
      tbody
        tr
          th Team
          td= team.teamNo
          th Name
          td= team.name
        tr
          th Avg #{niceNames[0]}
          td#avgHigh
          th Avg #{niceNames[1]}
          td#avgLow
        tr
          th Avg #{niceNames[2]}
          td#avgThrow
          th Avg #{niceNames[3]}
          td#avgCatch
    br
    // ENTRY LIST
    h2 Entry List
    #userList
        input.search(placeholder="Search")
        table#entrylist
            thead
                th
                  button.sort(data-sort="match") Match
                th
                  button.sort(data-sort="A")= niceNames[0]
                th
                  button.sort(data-sort="B")= niceNames[1]
                th
                  button.sort(data-sort="C")= niceNames[2]
                th
                  button.sort(data-sort="D")= niceNames[3]
                th
                  button.sort(data-sort="comment") Comment
            tbody.list
              each entry, i in entrylist
                tr
                  td.id(style="display:none;")= entry.id
                  td.matchid(style="display:none;")= entry.links.from
                  td.match ###
                  td.A= entry.A
                  td.B= entry.B
                  td.C= entry.C
                  td.D= entry.D
                  td.comment= entry.comment
  script(src="/javascripts/list.min.js")
  script(src="/javascripts/team.js")
