extends layout

block content
  // Wrapper
  #wrapper

    // USER LIST
    h2 Team List
    #teamList
      input.search(placeholder="Search")
      table#teamTable
          thead
              th
                button.sort(data-sort="name") Team Name
              th
                button.sort(data-sort="teamNo") Number
              th
                button.sort(data-sort="A")= niceNames[0]
              th
                button.sort(data-sort="B")= niceNames[1]
              th
                button.sort(data-sort="C")= niceNames[2]
              th
                button.sort(data-sort="D")= niceNames[3]
          tbody.list
            each team, i in teamlist
              tr
                td.name= team.name
                td.teamNo= team.teamNo
                td.A N/A
                td.B N/A
                td.C N/A
                td.D N/A
                td.id(style="display:none;")= team.id
                td
                  a(href="/teams/#{team.id}").more More Info
  script(src="/javascripts/list.min.js")
  script(src='/javascripts/teamlist.js')
